.book__container{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
    background-color: white;
}
.book_cover{
    width: 420px;
    height: 580px;
    margin: 25px;
}
.book__detail{
    width: 100%;
    font-size: 35px;
}
.book__detail__name,
.book__detail__author,
.book__detail__descriptions{
    padding: 50px 0px ;
}
.book__detail__buttons{
    margin-top: 20px;
}
.detail_button{
    font-size: 14px;
    border: none;
    background-color: #0dd6b8;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    min-width: 93px;
}