.login__layout{
    background-color: grey;
    /* padding-bottom: 72px;
    padding-top: 72px; */
    width: 100vw;
    min-height: 100vh;
    overflow-x:hidden;
}
.login__layout__title{
    font-size: 40px;
	padding-top: 250px;
    padding-left: 250px;
}
form{
    padding-top: 200px;
}
.login__info{
    line-height: 50px;
    width: 63%;
    border: none;
    margin-bottom: 50px;
    margin-left: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}
.login__action{
    width: 209px;
    padding: 15px;
    margin: 10px;
    border: none;
}